# Ignore Odoo source code directory
/odoo/

# Python cache and virtualenvs
__pycache__/
*.pyc
.env/
venv/

# Database and filestore
*.db
filestore/

# VSCode workspace settings (optional)
.vscode/settings.json

# OS files
.DS_Store
